.gallery {
  width: 100%;

  .images-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-wrapper {
      width: 100%;
      height: fit-content;
      img {
        width: 100%;

      }
    }
  }
}
