@import 'item';
.home {
  margin: 0 auto;
  width: 100%;
}
.my-container {
  width: 100%;
  margin: 0 auto;

  .my-list {
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    .my-item {
      margin: 0 auto 24px;
      width: 100%;
      border-radius: 8px;
      border: 1px solid $gray;
      box-shadow: $box-shadow;
      &:last-of-type {
        margin-bottom: 0;
      }


    }
  }
}
